*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;    
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}
.logo{
    color: var(--text-color);
    font-weight: 700;
    font: size 35px;
    letter-spacing: 1px;
}
span{
    color: var(--main-color);
}
.navlist {
    display:flex;
}
.navlist a{
color: var(--second-color);
font-size: 17px;
font-weight: 500;   
margin: 0 25px;
transition: all .45s ease;
}
.navlist a:hover{
    color: var(--main-color);
}

.navlist a.active{
    color: var(--main-color);
}
#manu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001; 
    cursor: pointer;
    margin-left: 25px;
    display:none;
}
section{
    padding: 160px 15% 120px;
}
.home{
    position: relative;
    height: 100vh;  
    width: 100%;
    background-image: url(./pg4.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.slide{
    margin-bottom: 20px;
}
.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius:5px;
    background-color: var(--main-color);
    background:var(--main-color);
    color: var(--text-color);
}


